/*Document Elements */
body {
    background-color: #E5C3D1;  /**SpaceBlue : #1D2951 */
    /*background-image: url(blackGrid.jpg);*/
    font-family:'Nanum Pen Script';
    color:#613F75;
    font-size:30px;
}

h1 {
    font-size:60px;
    font-family:'Nanum Pen Script';
    font-weight:bold;
}

h2{
    color:#EF798A;
    font-size:xx-large;
    font-family:'Modak';
}

.row{
    padding:20px;
}

.markers{
    color:#EF798A;
    font-size:x-large;
    font-family:'Modak';
}

.confetti{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    visibility:hidden;
}

.top-buffer
{
    margin-top:75px;
}

/*Made Elements*/
#resume, #project, #interest{
    color:#EF798A;
    font-size:xx-large;
    font-family:'Modak';
}

#info{
    outline: 7px solid;
    outline-color:#613F75;
    /* height: 500px; */
    border-radius:25px;
    overflow:auto;
    visibility: hidden;
}

#quote{
    background-color: #613f75;
    color:white;
    border-radius:25px;
}
